page {
	--theme-bg: #4279E7;
	--theme-btn-bg: #4279E7;
	--theme-color-title: #4279E7;
	--input-height: 30upx;
	--btn-height: 30upx;
	--font-size-title: 30upx;
	--font-size-subtitle: 25upx;
}

.box-shadow {
	-webkit-box-shadow: 0 0 60upx 0 rgba(43,86,112,.1);
	box-shadow: 0 0 60upx 0 rgba(43,86,112,.1);	
}

.input-border {
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #E5E9ED;
}